<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="2.2.4.900" />
  <package id="log4net" version="1.2.1" />
  <package id="NLog" version="1.0" />
  <package id="Castle.Core" version="1.2.0" />
  <package id="Castle.DynamicProxy" version="2.2.0" />
  <package id="Ninject" version="2.1.0.76" />
  <package id="structuremap" version="2.6.1.0" />
  <package id="NUnit" version="2.5.7.10213" />
  <package id="Castle.Windsor" version="2.1.1" />
</packages>