<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="CommonServiceLocator" version="1.0" />
  <package id="CommonServiceLocator.StructureMapAdapter" version="1.1.0.3" />
  <package id="fasterflect" version="2.0.1" />
  <package id="structuremap" version="2.6.3" />
</packages>